.container {
    max-width: 900px;
    margin: 0 auto;    padding: 40px;
    margin-top: 10%; 
}

    margin-bottom: 20px; /* Bottom margin for spacing between form groups */
}

/* Styles for form group labels */
 display as block elements */
    margin-bottom: 5px; /* Bottom margin for spacing below labels */
    font-weight: bo}

/* Styles for form con.form-control {
    width: 40%; /* Width of form controls */
ize of form controls */
    border: 1px solid #ccc; /* Border around form controls */
    border-radi rounded corners */
}

/* Styles for button groups.btn-group {
    margin-top: .0001px groups */
    margin-bottom: 20px; /* Bottom margin for spacing below button groups */
/* Styles for buttons */
.btn {
    padding: 10px 20px;     font-size: 16px; /* Font size of buttons */
    border: none; /* No     border-radius: 4px; /* Border radius for rounded corners on buttons */
    cursor: pointer; /* Cursor style on hover for buttons */
/* Styles for primary buttons */
.btn-primary {
    background-color: #or primary buttons */
    color: #fff; /* ons */
}

/* Styles for danger.btn-danger {
    background-color: #dc3545; /* Background color for danger buttons */
    color: #fff; /* Text color for danger buttons */
